name: Test1
on:
  workflow_call:
jobs:
  main:
    runs-on: ubuntu-latest
      permissions:
        contents: write
      steps:
        - name: checkout
          uses: actions/checkout@v4
        - name: run
          run: |
            find
            .github/test-script || :
